body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.site-navbar {
  z-index: 100;
}
.navbar .nav-item a {
  color: white;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  z-index: 2;
}

.navbar .fa-sign-out-alt,
.fa-sign-in-alt {
  color: white;
}

.navbar-toggler:focus {
  outline-color: white;
}

.dropdown-menu {
  left: -60px;
}
.navbar .nav-item .dropdown-menu > .dropdown-item {
  color: black;
}

/* height */
.spacer200 {
  height: 200px;
  width: 100%;
}

.spacer100 {
  height: 100px;
  width: 100%;
}

.spacer80 {
  height: 80px;
  width: 100%;
}
.spacer70 {
  height: 70px;
  width: 100%;
}
.spacer60 {
  height: 60px;
  width: 100%;
}
.spacer50 {
  height: 50px;
  width: 100%;
}

.spacer40 {
  height: 40px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer20 {
  height: 20px;
  width: 100%;
}

.spacer10 {
  height: 10px;
  width: 100%;
}
