/* -----------------site wide-------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url(./_images/pattern.png) repeat;
}

a:hover {
  text-decoration: none;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.cursorAllowed {
  cursor: pointer !important;
}

.cursorNotAllowed {
  cursor: not-allowed !important;
}
/* --------------------components---------------------- */
/* navbar */
.site-navbar {
  z-index: 100;
  background: #d7b79c !important;
}

.logo {
  width: 30px;
  height: 23px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.navbar .nav-item {
  color: black;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  z-index: 2;
}

.navbar .fa-sign-out-alt,
.fa-sign-in-alt {
  color: black;
}

.navbar-toggler:focus {
  outline-color: black;
}

.dropdown-menu {
  left: -60px;
}
.navbar .nav-item .dropdown-menu > .dropdown-item {
  color: black;
}

/* ---------------public routes------------ */
.publicRouteWrapper {
  background: url(./_images/world-large.svg) no-repeat center center;
  position: absolute;
  width: 100%;
  top: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1300px;
}

.authFormCard {
  padding: 25px;
  background: #f5f5f5;
  opacity: 0.8;
}

/* private routes */
/* storyList route */
.storiesContainer {
  background: url(./_images/sand.jpg) repeat;
  min-height: 400px;
}
/* general util classes */
/* height */
.spacer200 {
  height: 200px;
  width: 100%;
}

.spacer100 {
  height: 100px;
  width: 100%;
}

.spacer80 {
  height: 80px;
  width: 100%;
}
.spacer70 {
  height: 70px;
  width: 100%;
}
.spacer60 {
  height: 60px;
  width: 100%;
}
.spacer50 {
  height: 50px;
  width: 100%;
}

.spacer40 {
  height: 40px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer20 {
  height: 20px;
  width: 100%;
}

.spacer10 {
  height: 10px;
  width: 100%;
}
