body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.site-navbar {
  z-index: 100;
}
.navbar .nav-item a {
  color: white;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  z-index: 2;
}

.navbar .fa-sign-out-alt,
.fa-sign-in-alt {
  color: white;
}

.navbar-toggler:focus {
  outline-color: white;
}

.dropdown-menu {
  left: -60px;
}
.navbar .nav-item .dropdown-menu > .dropdown-item {
  color: black;
}
